*,
::before,
::after {
	box-sizing: border-box; /* Применение единого способа расчёта размеров */
}

html {
	line-height: 1.15; /* Поддерживает доступность чтения текста */
	-webkit-text-size-adjust: 100%; /* Запрещает масштабирование текста мобильными устройствами */
}
body {
	width: 100%;
	margin: 0;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
		Oxygen-Sans, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
		sans-serif;
	font-size: 16px;
	line-height: 1.5;
	color: #333;
	background-image: url(/src/assets/backgrounds/backgroundhome.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

p {
	margin-top: 0; /* Убираем верхний отступ абзацев */
}

hr {
	box-sizing: content-box; /* Восстанавливаем поведение горизонтальной линии */
	height: 0; /* Убираем видимость границы */
	overflow: visible; /* Нормализуем вертикальную прокрутку */
}

pre {
	font-family: monospace, monospace; /* Моноширинный шрифт */
	font-size: 1em; /* Сохраняем стандартный размер шрифта */
}

a {
	color: inherit; /* Наследуем родительский цвет текста */
	text-decoration: underline; /* Оставляем подчёркивание ссылок */
}

img {
	border-style: none; /* Сброс рамки изображений */
}

svg {
	fill: currentColor; /* По умолчанию используем текущий цвет */
}

video {
	max-width: 100%; /* Ограничиваем максимальное разрешение видео */
	height: auto; /* Высота адаптируется автоматически */
}

input,
select,
textarea {
	font-family: inherit; /* Применяем родственный шрифт */
	font-size: inherit; /* Применяем тот же размер шрифта */
	line-height: inherit; /* Применяем одинаковый межстрочный интервал */
}

button,
input,
optgroup,
select,
textarea {
	margin: 0; /* Убираем внешние отступы */
	font-family: inherit; /* Применяем родственный шрифт */
	font-size: 100%; /* Применяем тот же размер шрифта */
	line-height: inherit; /* Применяем одинаковый межстрочный интервал */
	color: inherit; /* Применяем тот же цвет текста */
}

/* Убираем анимацию при фокусировке */
:focus-visible {
	outline-offset: 2px;
	outline: 2px solid rgba(0, 0, 0, 0.5); /* Видимая граница фокуса */
}

/* Медиа запросы */
@media print {
	*,
	::before,
	::after {
		text-shadow: none !important; /* Отключаем тени текста при печати */
		box-shadow: none !important; /* Отключаем тени при печати */
	}
}

@supports (-ms-accelerator: true) {
	input::-ms-clear,
	input::-ms-reveal {
		display: none; /* Скрываем ненужные элементы IE/Edge */
	}
}
